/* font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif; */


/*
Table Of Contents

# BRANDING
  
  --crossfit-black: rgb(0,0,0);
  --crossfit-grey: rgb(223,235,229);
  --crossfit-tuscanbrown: rgb(122,81,47);
  --crossfit-darkjungle-green: rgb(22,38,23);
  --crossfit-cadmium-green: rgb(5,104,57);


  Accent Colors:
  --crossfit-midnight-blue: rgb(25,25,112);
  --crossfit-midnight-dark-red: rgb(139,0,0);
  --crossfit-pine-creek-orange: rgb(229,148,0);
  

# TYPOGRAPHY
  --crossfit-heading: font-family: 'Roboto', sans-serif;
  --crossfit-paragraph: font-family: 'Open Sans', sans-serif;
*/



/*
* ==========================================================
*     BRANDING 
* ==========================================================
*/
:root {
  /*colors*/
  --crossfit-black: rgb(0,0,0);
  --crossfit-grey: rgb(223,235,229);
  --crossfit-tuscanbrown: rgb(122,81,47);
  --crossfit-darkjungle-green: rgb(22,38,23);
  --crossfit-cadmium-green: rgb(5,104,57);

  /* accent colors */
  --crossfit-midnight-blue: rgb(25,25,112);
  --crossfit-midnight-dark-red: rgb(139,0,0);
  --crossfit-pine-creek-orange: rgb(229,148,0);
 
  /*typography*/
  --crossfit-heading: font-family: 'Open Sans', sans-serif;
  --crossfit-paragraph: font-family: 'Roboto', sans-serif;
  
}


/*
* ==========================================================
*     TYPOGRAPHY
* ==========================================================
*/
body {
  position: relative;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5 {
  font-family: var(--tribe-heading);
  text-transform: uppercase;
  color: var(--crossfit-black);
  font-weight: 700;
}
p {
  font-family: var(--crossfit-paragraph);
  color: rgba(10,10,10,0.65);
  line-height: 1.6;
}
section h4 {
  margin-bottom: 2rem;
  color: #5f5e5e;
}
a {
  color: var(--crossfit-pine-creek-orange);
  font-family: var(--crossfit-paragraph);
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
  
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: black;
}

a:visited {
  color: var(--crossfit-pine-creek-orange);
}

nav.navbar .navbar-toggler span {
  width: 25px;
  margin: 5px;
  display: block;
  height: 2px;
  background: #333;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.nav-item > a.nav-link {
  color: #000;
  font-size: 1.1rem;
  margin-right: .5rem;
  transition: all 0.5s;
  font-weight: 700;
}

.nav-item > a.nav-link:hover {
  color: var(--crossfit-cadmium-green);
}

nav.navbar .navbar-toggler {
  outline: none;
}

nav.navbar .navbar-toggler span {
  width: 25px;
  margin: 5px;
  display: block;
  height: 2px;
  background: #333;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

nav.navbar .navbar-toggler.active span:first-of-type {
  -webkit-transform: rotate(45deg) translate(10px);
  transform: rotate(45deg) translate(10px);
}

nav.navbar .navbar-toggler.active span:last-of-type {
  -webkit-transform: rotate(-45deg) translate(10px);
  transform: rotate(-45deg) translate(10px);
}

nav.navbar .navbar-toggler.active span:nth-of-type(2) {
  opacity: 0;
}

nav.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/*
* ==========================================================
*     FORMS
* ==========================================================
*/

.btn-primary {
  color: #fff;
  background-color: var(--crossfit-tuscanbrown);
  border: none;
  border-color: none;
  transition: all 0.5s;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--crossfit-black);
  border-color: none;
}

.btn-primary:not(:disabled):not(.disabled).active,
 .btn-primary:not(:disabled):not(.disabled):active,
  .show>.btn-primary.dropdown-toggle {
  color: #fff;
  background: var(--crossfit-black);
  border-color: none;
}
.btn-primary:visited {
  color: white;
}
/*
* ==========================================================
*     LAYOUT
* ==========================================================
*/
section {
  padding-top: 100px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  overflow: hidden;
}

section h1 {
  margin-top: 15px;
  font-size: 2rem;
}
section#hero {
  background: url(../img/crossfit-hero.jpg);
  background-size: cover !important;
  background-position: center center !important;
  padding-bottom: 75px;
  min-height: 100vh;

}
.has-overlay-dark {
  position: relative;
  z-index: 1;
}
.has-overlay-dark::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: rgba(0,0,0,0.5);
  z-index: -1;
}
.img-container {
  position: relative;
}
.img-container:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: -17px;
  left: 17px;
  display: block;
  background: url(../img/camo.jpg);
  opacity: 1.5;
  z-index: -1;
}
.intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
  margin: 0 auto;
 
}

.intro-text .intro-lead-in {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  line-height: 22px;
  margin-bottom: 15px;
  font-family: var(--crossfit-heading);
  text-transform: uppercase;
}

.intro-text .intro-heading {
  font-size: 4rem;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 15px;
  font-family: var(--crossfit-heading);
  color: white;
  line-height: 1;
}
.intro-comment {
  margin-bottom: 30px;
}
.intro-comment p {
  font-size: 1rem;
  font-style: italic;
  line-height: 1.25;
  max-width: 900px;
  font-family: var(--crossfit-paragraph);
  color: white;
}

.img-container.img-left:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: -17px;
  left: -17px;
  display: block;
  background: url(../img/camo.jpg);
  opacity: 1.5;
  z-index: -1;
}
section h1 {
  margin-top: 15px;
  font-size: 2rem;
  margin-top: 2.5rem;
}

section.drop-ins {
  background: black;
  margin-top: 55px;
  padding-top: 60px;
  background: url(../img/crossfitPineCreek-cta.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  position: relative;
  padding-bottom: 60px;
}

section.drop-ins::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,0.6);
  top: 0;
  left: 0;

}
.drop-in-box {
  max-width: 85%;
}
.drop-in-box h1 {
  color: #f2f2f2;
  margin-top: 20px;
}
.drop-in-box h2 {
  color: #d0dae6;
  font-size: 1.5rem;
  text-transform: none;
}
.drop-in-box .hero-text {
  color: #f2f2f2;
}
.cta {
  margin-top: 20px;
}
/*
* ==========================================================
*     TESTIMONIALS SECTION
* ==========================================================
*/
section.testimonials {
  padding-top: 30px;
  padding-bottom: 30px;
}
section.testimonials .owl-carousel .owl-stage-outer {
  padding: 70px 0 50px;
}

section.testimonials .item-holder {
  padding-right: 15px;
  padding-left: 15px;
}

section.testimonials .quote {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

section.testimonials .item {
  -webkit-box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
  position: relative;
  /* margin: 0 30px; */
  margin-right: 0;
  padding: 50px 45px;
  padding-left: 50px;
}

section.testimonials .item p {
  line-height: 1.8rem;
  font-size: 0.9rem;
  line-height: 1.7rem;
  color: #656565;
}

section.testimonials .avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
  box-shadow: -5.665px 9.429px 35px 0px rgba(0, 0, 0, 0.2);
}

section.zen-planner {
  background: #000;
  padding-top: 100px;
  padding-bottom: 100px;
}

section.zen-planner h1,
section.zen-planner p {
  color: #fff;
}
/*
* ==========================================================
*     SOCIAL MEDIA SECTION
* ==========================================================
*/
section.social-media {
  background: #000;
  padding-bottom: 75px;
}
section.social-media h1 {
  color: white;
}
section.social-media h4 {
  margin-bottom: 55px;
  color: white;
}
section.social-media a {
  display: block;
}
section.social-media .social-media-logo {
  margin: 0 auto;
  width: 130px;
  margin-bottom: 20px;
  height: auto;
}
section.tour-facility {
  padding-bottom: 100px;
}
/* Extra small devices (portrait phones, less than 576px)
   No media query for `xs` since this is the default in Bootstrap */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  
  section {
    padding: 80px 0 80px;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 25px;
  }
  section.social-media .social-media-logo {
    width: 200px;
  }
  section.about {
    padding-top: 120px;
    padding-bottom: 60px;
  }
  section h1 {
    font-size: 2.5rem;
  }
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    margin: 0 auto;
   
  }
  .intro-text .intro-lead-in {
    font-size: 2rem;
    font-weight: 700;
    color: white;
    line-height: 22px;
    margin-bottom: 15px;
    font-family: var(--crossfit-heading);
    text-transform: uppercase;
  } 
  .intro-text .intro-heading {
    font-size: 5rem;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 15px;
    font-family: var(--crossfit-heading);
    color: white;
    line-height: 1;
  }
  
  .intro-comment p {
    font-size: 1.25rem;
    font-style: italic;
    line-height: 1.25;
    max-width: 900px;
    font-family: var(--crossfit-paragraph);
    color: white;
  }

  section.about .order-sm-1
   {
    margin-bottom: 50px;
  }
 }
/*
* ==========================================================
*     ABOUT SECTION
* ==========================================================
*/
#about-crossfit-pinecreek,
#crossfit,
#drop-ins,
#schedule {
  padding-top: 80px;
}
/*
* ==========================================================
*     FOOTER SECTION
* ==========================================================
*/
.footer-inner {
  padding: 68px 34px;
}

#siteInfo {
  font-family: var(--crossfit-paragraph);
  font-weight: 500;
  letter-spacing: 2px;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255,255,255,.8);
}

.site-address+.site-phone, .site-address+.site-email, .site-phone+.site-email {
  margin-left: 1em;
}
/*Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  section h1 {
    margin-top: 0;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  section.social-media h1 {
    margin-bottom: 0;
  }
  section.about {
    padding-top: 120px;
  }
  section.drop-ins {
    padding-top: 80px;
  }
  section.testimonials {
    padding-top: 60px;
  }
  section.testimonials .owl-carousel .owl-stage-outer {
    padding: 20px 0 50px;
}
  section.about .order-md-1 {
  order: 1;
  }
  section.about .order-md-2 {
    order: 2;
    }
  }

/*Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
section.about,
section.crossfit,
section.testimonials,
section.zen-planner,
section.tour-facility {
    padding-top: 90px;
    padding-left: 25px;
    padding-right: 25px;
}
section {
  padding: 80px 0 80px;
}

.col-md-6.text.order-1.order-sm-2 {
  padding: 55px;
}

.col-md-6.text.order-2.order-sm-1 {
  padding: 20px;
}
.hero-text {
  font-size: 1.25rem;
  font-weight: 300;
}
.drop-in-box h1 {
  margin-bottom: 1rem;
}
.drop-in-box h2 {
  color: #d0dae6;
  font-size: 2rem;
  text-transform: none;
}
.order-lg-1 {
  order: 1;
}
.order-lg-2 {
  order: 2;
}
}

/*Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  section.about,
  section.crossfit,
  section.testimonials,
  section.zen-planner,
  section.tour-facility {
    padding-top: 162px;
    padding-right: 80px;
    padding-left: 80px;
}

  section.testimonials,
  section.zen-planner {
    padding-top: 100px;
  }

}

